force-app/main/default/flows/Line_Item_Record_Create.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>67.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Update_Merchandise_Record</name>
        <label>Update Merchandise Record</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>Get_Merchandise.Total_Inventory__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>UpdatedInventory</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Merchandise</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Line_Item_Record_Update_V2</name>
        <label>Invoice Open?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Invoice_is_Open</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Invoice_Statement__r.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Open</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Merchandise</targetReference>
            </connector>
            <label>Invoice is Open</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>UpdatedInventory</name>
        <dataType>Number</dataType>
        <expression>{!Get_Merchandise.Total_Inventory__c}-{!$Record.Units_Sold__c}</expression>
        <scale>0</scale>
    </formulas>
    <interviewLabel>Line Item Record Create {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Line Item Record Create</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Merchandise</name>
        <label>Get Merchandise</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_Merchandise_Record</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Merchandise__r.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Merchandise__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Merchandise</name>
        <label>Update Merchandise</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <inputReference>Get_Merchandise</inputReference>
    </recordUpdates>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Line_Item_Record_Update_V2</targetReference>
        </connector>
        <object>Line_Item__c</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
